sudo: required
addons:
  apt:
    packages:
    - bsdtar
    - dosfstools
script:
- sudo ./build.sh ArchLinuxARM-rpi-latest
# sudo ./build.sh ArchLinuxARM-rpi-2-latest
# sudo ./build.sh ArchLinuxARM-rpi-3-latest
deploy:
  provider: releases
  user: "jeffh0821@gmail.com"
  password: "Jef1!Hor"
  file:
  - ArchLinuxARM-rpi-latest.img.gz
  # ArchLinuxARM-rpi-2-latest.img.gz
  # ArchLinuxARM-rpi-3-latest.img.gz
  skip_cleanup: true
  on:
    tags: true
